<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>postgreSQL!</title>
    <link rel="stylesheet" th:href="@{/dataweb.css}">
</head>
<body>
<header>
    <h1>결과</h1>
</header>
<table>
    <thead>
        <tr>
            <td>아이디</td>
            <td>이름</td>
            <td>비밀번호</td>
        </tr>
    </thead>
    <tbody>
        <tr th:each="abc : ${abc}">
            <td>
                <span th:text="${abc.id}"></span>
            </td>
            <td>
                <span th:text="${abc.name}"></span>
            </td>
            <td>
                <span th:text="${abc.password}"></span>
            </td>
        </tr>
    </tbody>
</table>
<footer>
    <span>굿!</span>
</footer>

</body>
</html>